body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.calculator-container{
    height: 100vh;
    width: 70vw;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.calculator-box{
    height: 70%;
    width: 60%;
    background-color: lightblue;
    border-radius: 50px;
    padding: 3rem;
}

#resultado {
    margin: 0;
    margin-right: 2rem;
}

.calculator-display-result{
    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 30px;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculator-buttons-area{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    height: 70%;
}

.buttons{
    background-color: rgba(0, 0, 139, 0.5);
    border-radius: 30px;
    border: 0;
    font-size: 4rem;
    color: white;
}

.buttons:hover{
    cursor: pointer;
}

.buttons:focus{
    background-color: rgba(0, 0, 139, 0.8);
}

#clear {
    font-size: 3rem;
    font-style: italic;
}

@media only screen and (min-width:630px) and (max-width:1000px) {
    .calculator-container{
        width: 100vw;
    }

    .calculator-box{
        padding: 2rem;
    }

    .calculator-display-result{
        height: 20%;
    }

    .calculator-buttons-area{
        grid-template-columns: repeat(4, 1fr);
    }

    .buttons{
        font-size: 2rem;
    }

    #clear{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:629px) {
    .calculator-container{
        width: 100vw;
    }

    .calculator-box{
        padding: 2rem;
        width: 80%;
    }

    .calculator-display-result{
        height: 15%;
    }

    .buttons {
        font-size: 2.5rem;
    }

    #clear{
        font-size: 1rem;
    }

    .calculator-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}