body, a {
    margin: 0;
    text-decoration: none;
}

*{
    color: white;
    font-family: roboto;
    box-sizing: border-box;
}

*::selection{
    background-color: rgb(59, 165, 59);
    color: black;
}

main{
    background-color: black;
}

header{
    height: 10vh;
    background-color: black;
}

.align-header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

@font-face {
    font-family: roboto;
    src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: zeyada;
    src: url('assets/fonts/Zeyada-Regular.ttf');
}

@font-face {
    font-family: kaushan;
    src: url('assets/fonts/KaushanScript-Regular.ttf');
}

.logo p{
    overflow: hidden;
    border-right: .10em solid rgb(59, 165, 59);
    white-space: nowrap;
    font-size: 3rem;
    font-family: zeyada;
    letter-spacing: 5px;
    text-transform: lowercase;
    margin: 0 auto;
    font-weight: normal;
    animation: typingEffect 3s steps(20,end), cursorEffect .65s step-end infinite;
}

@keyframes typingEffect {
    from{
        width: 0;
    } to {
        width: 100%;
    }
}

@keyframes cursorEffect {
    from, to {
        border-color: transparent;
    } 50% {
        border-color: rgb(59, 165, 59);
    }
}

.navigation-content{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navigation-content li{
    margin-right: 1.5rem;
    padding: 1rem;
    list-style: none;
    text-transform: uppercase;
    font-family: roboto;
    font-size: 1.2rem;
    color: #e0dddd;
    font-weight: normal;
}

.navigation-content li:hover{
    color: black;
    background-color: white;
    transition: 2s ease;
}

.main-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-page-content{
    height: 20%;
    display: flex;
    flex-direction: column;
}

.text-content p{
    width: 20%;
    font-size: 1.5rem;
    font-weight: normal;
    color: #e0dddd;
    margin-left: 2rem;
}

.social-media-links{
    margin: 0;
    margin-left: 2rem;
}

.social-media-links img {
    width: 50px;
    margin-right: 1rem;
    background-color: transparent;
    border: 1px solid rgb(59, 165, 59);
    padding: .8rem;
    border-radius: 50%;
}

.scrolling{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
    color: #e0dddd;
    margin-right: 5rem;
}

.scrolling p{
    font-family: kaushan;
}

.scrolling::after{
    content: url('assets/projects/icons8-ordem-descendente-64.png');
    margin-right: 2rem;
}

.scrolling:hover::after{
    content: url('assets/projects/icons8-ordem-descendente-64\ \(1\).png');
    cursor: pointer;
}

.main-page-title{
    text-align: center;
    height: 5%
}

.main-page-title h1{
    font-size: 15rem;
    letter-spacing: 1rem;
    margin: 0;
    background: url('assets/projects/background-main-page.png');
    background-size: contain;
    background-clip: text;
    color: transparent;
    filter: brightness(2);
    font-weight: 600;
}

.main-page-title{
    background-size: scale-down;
    background-position: bottom;
}

.about, .works, .galery{
    padding-top: 15rem;
    height: 55vh;
    background-color: black;
    display: flex;
}

.about{
    margin-bottom: 15rem;
}
.galery{
    padding: 0;
    margin-right: 10rem;
    padding-bottom: 5rem;
}

.divisor-normal{
    height: 5px;
    background-color: rgb(59, 165, 59);
}

.works{
    margin-right: 10rem;
    margin-bottom: 5rem;
}

.column-align {
    width: 50%;
}

.row-align{
    height: 50%;
    display: flex;
}

.row-align-block{
    display: block;
    text-align: right;
    height: 50%;
}

.right-align h2{
    text-align: right;
    text-transform: lowercase;
    margin: 0;
    font-size: 10rem;
    color: rgb(67, 182, 67);
}

.column-align > .left-align{
    text-align: right;
    display: block;
}

.column-align > .right-align{
    justify-content: flex-end;
    align-items: end;
}

.left-align button, .right-align button, .row-align-block button{
    
    background-color: transparent;
    border: 1px solid rgb(105, 184, 105);
    color: rgb(59, 165, 59);
    border-radius: 50px;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    font-family: kaushan;
    margin-right: 20rem;
}

.left-align button::after, .right-align button::after, .row-align-block button::after{
    content: url('assets/projects/icons8-arrastar-para-cima\,-seta-para-a-direita-48.png');
    margin-left: 1rem;
}

.left-align button:hover, .right-align button:hover, .row-align-block button:hover{
    background-color: rgb(59, 165, 59);
    color: white;
    transition: 1s ease;
    cursor:pointer;
}

.align-text-left p, .align-text-right p{
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
    color: rgb(59, 165, 59);
    margin-top: 2rem;
}

.align-text-right{
    text-align: right;
}

.side-spaces{
    width: 1400px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
}

.divisor {
    height: 5px;
    width: 30%;
    background-color: rgb(59, 165, 59);
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: auto;
}

.row-align-block button{
    margin-top: 5rem;
}

.display-project-pic{
    display: none;
    height: 85vh;
    background: url('assets/projects//frameworks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.projects-navigation{
    padding: 10rem 0 10rem 0;
    display: flex;
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.project-display{
    width: 100%;
    height: 800px;
    animation: fade 1.5s;
    justify-content: center;
}

.project-display img {
    object-fit: cover;
    object-position: center ;
    border-radius: 50px;
    max-height: 700px;
    max-width: 1000px;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 80%;
    width: auto;
    margin-top: -22px;
    padding: 1rem;
    color: rgb(105, 184, 105);
    border: 1px solid rgb(105, 184, 105);
    border-radius: 50%;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    user-select: none;
}

.previous:hover, .next:hover{
    background-color: rgba(59, 165, 59, 0.8);
}

.next {
    right: -10%;
}

.previous{
    left: -10%;
}

@keyframes fade {
    from{
        opacity: .4;
    } to{
        opacity: 1;
    }
}

footer{
    height: fit-content;
}

.bg-green{
    display: none;
    height: 40vh;
    background: linear-gradient(black 5%, transparent), rgb(67, 182, 67);
}

.footer-img-bg{
    height: 60vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-img-bg h2{
    margin: 0;
    text-transform: uppercase;
    font-size: 10rem;
    letter-spacing: 1rem;
    filter: brightness(3);
    font-weight: 600;
    margin-left: 8rem;
}

.footer-nav{
    width: 100%;
    padding-bottom: 2rem;
}

.footer-nav > .navigation-content{
    width: 100%;
    justify-content: space-around;
}

.footer-nav > .navigation-content li {
    font-size: 1.5rem;
}

.footer-nav > .navigation-content li:hover{
    color: white;
    background-color: transparent;
}

.intro-section{
    height: fit-content;
    display: flex;
    padding: 5rem 0;
    background-color: rgba(59, 165, 59, 0.5);
}

.organize-page{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.organize-page h1{
    text-transform: uppercase;
    font-weight: normal;
    font-weight: normal;
    font-size: 3rem;
}

#bold-destaque{
    color: rgb(146, 223, 146);
    font-weight: bold;
}

.agrupacao-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.personal-info{
    width: 20%;
    margin-right: 5rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.personal-info p, .personal-info-label h2, .about-text h2, .about-text p{
    font-family: monospace;
    font-size: 1.2rem;
}

.personal-info-label h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.about-text{
    width: 30%;
    text-align: left;
}

.my-resume {
    flex-direction: column;
    position: relative;
    z-index: 0;
    background-color: rgba(59, 165, 59, 0.5);
    text-align: center;
}

.my-resume h2{
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0;
}

.my-resume h2 + a p{
    text-transform: uppercase;
    color: rgb(146, 223, 146);
    font-size: 1.1rem;
}

.my-resume h2 + a p:hover{
    text-shadow: 1px 1px 5px rgb(146, 223, 146);
    transition: 1s ease;
}

.my-resume::before{
    content: " ";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(146, 223, 146);
    transform: rotate(90deg);
    z-index: -1;
    display: block;
    margin-top: 5rem;
    margin-right: 1rem;
}

.resume-timeline{
    text-align: center;
}

.resume-timeline h3{
    text-transform: uppercase;
    background-color: #f1f1f1;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 10px;
    font-weight: normal;
    font-family: monospace;
    font-size: 1.5rem;
}

.experience-card{
    display: flex;
}
.experience-left, .blank-space, .experience-right {
    width: 100%;
}
.experience-left, .experience-right{
    margin: 3.5rem 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.experience-left + .blank-space {
    margin: 0;
    margin-right: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.experience-left, .blank-space{
    width: 100%;
}

.experience-left {
    text-align: right;
    margin: 4.5rem 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 2rem;
}

.experience-left h4, .experience-left p, .experience-right h4, .experience-right p {
    font-family: monospace;
    letter-spacing: 2px;
}

.experience-left h4, .experience-right h4 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
}

.experience-left p + p, .experience-right p + p {
    width: 60%;
    line-height: 1.5;
}

.experience-right {
    text-align: left;
    align-items: flex-start;
    padding-left: 2rem;
}

.my-skills{
    text-align: center;
    padding: 10rem 0;
}

.my-skills h2{
    color: white;
    font-family: monospace;
    font-size: 3rem;
    font-weight: normal;
}

.grid-align-skills{
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
}

.grid-skills{
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1FR);
    padding-top: 5rem;
}

.skill-set{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.progress-header{
    display: flex;
    justify-content: space-between;
}

.progress-header h3{
    margin: 0;
    text-align: left;
    margin-bottom: 2rem;
    font-family: monospace;
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 2px;
}

.progress-header p{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: monospace;
}

.progress-bar-bg{
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 20px;
}

.progress-bar-animation{
    transition: all .5s ease-in;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    animation: progress-stripes 2s linear infinite;
}

.progress-bar {
    height: 100%;
    border-radius: 20px;
}

.purple-width{
    width: 15%;
    background-color: purple;
}

.blue-width{
    width: 90%;
    background-color: blue;
}

.green-width{
    width: 100%;
    background-color: rgb(17, 156, 17);
}

@keyframes progress-stripes{
    0%{
        background-position: 40px 0;
    } 100%{
        background-position: 0 0;
    }
}

.normal-footer{
    background-color: black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    border-top: 1px solid rgb(59, 165, 59);
}

ul{
    padding: 0;
    margin: 0;
}

footer h4{
    text-transform: uppercase;
    color: rgb(59, 165, 59);
    margin: 1rem 0;
}

footer p{
    margin: 0;
    color: rgb(59, 165, 59);
}

#destaque{
    color: white;
    cursor: pointer;
}

.destaque-experiencias{
    display: none;
}

.drowpdown{
    display: none;
}

.box{
    display: none;
}

.organize-profile-photo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 3rem 0;
}

.profile-outline{
    width: 400px;
    height: 400px;
    border: 10px solid rgb(59, 165, 59);
    position: relative;
    animation: movingPic 4s ease-in-out;
}

.profile-pic{
    height: 400px;
    width: 400px;
    margin-top: -3.5rem;
    margin-left: 3rem;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
}

.green-bg{
    background-color: rgba(59, 165, 59, 0.5);
}

.flex-align{
    display: flex;flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 55vh;

    font-family: roboto;
    transition: .25s;

    margin: 0 2rem;

    
}

.options-box{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;

    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;

    position: absolute;
}


.option{
    position: relative;
    overflow: hidden;

    min-width: 60px;
    margin: 10px;

    background-size: auto 120%;
    background-position: center;

    cursor: pointer;

    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    box-shadow: 8px 4px 7px -5px rgba(255, 255, 255, 0.3);
}

.options-box > .active{
    flex-grow: 10000;
    transform: scale(1);

    max-width: 600px;
    margin: 0px;
    border-radius: 40px;

    background-size: contain;
}

.options-box > .active .shadow{
    box-shadow:inset 0 -120px 120px -125px black;;
}

.options-box > .active .label{
    top: 70%;
    left: 20px;
    .info > h3{
        left: 0;
        opacity: 1;
        text-align: left;
    }
}

.option:not(.active){
    flex-grow: 1;

    background-size: cover;

    border-radius: 30px;
}

.option:not(.active) .shadow{
    box-shadow: inset 0 -20px 20px 5px rgba(0, 0, 0, 0.4);
}

.option:not(.active) .label{
    bottom: 10px;
    left: 10px;
    .info > h3 {
        text-align: left;
        opacity: 0;
    }
}

.shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 120px;

    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.label{
    display: flex;
    position: absolute;
    right: 0;

    height: 40px;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 10px;

    color: white;

    white-space: pre;
}

.icon > h3{
    position: relative;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
}

.main{
    font-weight: bold;
    font-size: 1.2rem;
    font-family: monospace;
}

.sub{
    transition-delay: .1s;
    font-family: monospace;
}

.areas-expertise{
    text-align: center;
    padding: 5rem 0;
}

.areas-expertise h2{
    font-family: monospace;
    font-size: 3rem;
    font-weight: normal;
}

.contact-page{
    height: 100vh;
    background-color: #fdf8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box{
    max-width: 1400px;
    min-width: 300px;
    width: calc(100% - 20%);
    height: 80vh;
    margin: 0 2rem;
    border: 8px solid rgb(59, 165, 59);
    border-radius: 40px;
    display: flex;
    padding: 1.5rem;
    background-color: #f7f7f7;
}

.section-two, .section-one{
    border-radius: 40px;
}

.section-one{
    width: 30%;
    height: 100%;
}

.section-one .logo p{
    color: black;
    font-size: 1.5rem;
    width: fit-content;
    margin: 0;
    animation: typingEffect 3s steps(20,end), cursorEffect .35s step-end;
}

.content-box-text{
    height: 80%;
    padding: 2rem 0;
}

.contact-text h2, .contact-text p, .contact-text span{
    color: black;
}

.contact-text h2{
    font-size: 1.1rem;
    margin: 0;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-text p{
    margin: 0;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: .925rem;
    color: rgb(66, 66, 66);
}

.contact-text span{
    font-size: .925rem;
    font-weight: 600;
    color: rgb(48, 46, 46);
}

.text{
    width: 80%;
    margin-bottom: 2rem;
}

.contact-page .social-media-links img {
    padding: .5rem;
    width: 60px;
    border-radius: 5px;
}

.logo{
    width: fit-content;
}


.section-two{
    width: 70%;
    padding: 4rem;
    height: 100%;
    background-color: rgb(59, 165, 59);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section-two h1{
    margin: 0;
    font-size: 5rem;
    line-height: 1;
    font-weight: normal;
    font-family: zeyada;
    margin: 3rem 0;
}

form{
    width: 100%;
    height: 40%;
}

form input, textarea{
    width: 80%;
    height: 20%;
    margin-bottom: 3rem;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 1rem;
}

form input::selection, textarea::selection{
    background-color: white;
    color: black;
}

textarea{
    height: 100px;
    resize: none;
}

form input::placeholder, textarea::placeholder{
    font-size: 1rem;
    color: white;
}

button{
    padding: 1rem 0;
    background-color: white;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
}

button a {
    color: black;
    font-size: 1.3rem;
    letter-spacing: 2px;
    display: block;
    width: 100%;
}

@keyframes movingPic{
    0%{
        transform: scale(0.1);
    } 100%{
        transform: scale(1);
    }
}

@media screen and (max-width: 718px) {
    .options-box {
        min-width: 520px;
    }
    .options-box .option:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 638px) {
    .options-box {
        min-width: 440px;
    }
    .options-box .option:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 558px) {
    .options-box {
        min-width: 360px;
    }
    .options-box .option:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 478px) {
    .options-box {
        min-width: 280px;
    }
    .options-box .option:nth-child(2) {
        display: none;
    }
}