body, a {
    margin: 0;
    text-decoration: none;
}

*{
    color: white;
    font-family: roboto;
}

main{
    background-color: black;
}

header{
    height: 10vh;
    background-color: black;
}

.align-header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

@font-face {
    font-family: roboto;
    src: url(/portfolio/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: zeyada;
    src: url(/portfolio/assets/fonts/Zeyada-Regular.ttf);
}

@font-face {
    font-family: kaushan;
    src: url(/portfolio/assets/fonts/KaushanScript-Regular.ttf);
}

.logo p{
    font-size: 3rem;
    font-family: zeyada;
    letter-spacing: 2px;
    text-transform: lowercase;
    margin: 0;
    font-weight: normal;
}

.navigation-content{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navigation-content li{
    margin-right: 1.5rem;
    padding: 1rem;
    list-style: none;
    text-transform: uppercase;
    font-family: roboto;
    font-size: 1.2rem;
    color: #e0dddd;
    font-weight: normal;
}

.main-page{
    height: 100vh;
    background: linear-gradient(black 5%, transparent, black 90%), url('/portfolio/assets/pics/background-main-page.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.main-page-content{
    height: 20%;
    display: flex;
    flex-direction: column;
}

.text-content p{
    width: 20%;
    font-size: 1.5rem;
    font-weight: normal;
    color: #e0dddd;
    margin-left: 2rem;
}

.social-media-links{
    margin-left: 2rem;
}

.social-media-links img {
    width: 30px;
    margin-right: 1rem;
    background-color: #6d6b6b;
    padding: .8rem;
    border-radius: 50%;
}

.scrolling{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
    color: #e0dddd;
    margin-right: 5rem;
}

.scrolling a{
    font-family: kaushan;
}

.scrolling::after{
    content: url('/portfolio/assets/pics/icons8-ordem-descendente-64.png');
    margin-right: 2rem;
}

.scrolling:hover::after{
    content: url('/portfolio/assets/pics/icons8-ordem-descendente-64\ \(1\).png');
    cursor: pointer;
}

.main-page-title{
    text-align: center;
    height: 5%
}

.main-page-title h1{
    font-size: 22rem;
    letter-spacing: 1rem;
    margin: 0;
    background: url('/portfolio/assets/pics/background-main-page.png');
    background-size: contain;
    background-clip: text;
    color: transparent;
    filter: brightness(2);
    font-weight: 600;
}

.main-page-title{
    background-size: scale-down;
    background-position: bottom;
}

.about, .works, .galery{
    padding-top: 15rem;
    height: 55vh;
    background-color: black;
    display: flex;
}

.about{
    margin-bottom: 10rem;
}
.galery{
    padding: 0;
    margin-right: 10rem;
    padding-bottom: 5rem;
}

.divisor-normal{
    height: 5px;
    background-color: rgb(59, 165, 59);
}

.works{
    margin-right: 10rem;
}

.column-align {
    width: 50%;
}

.row-align{
    height: 50%;
    display: flex;
}

.row-align-block{
    display: block;
    text-align: right;
    height: 50%;
}

.right-align h2{
    text-align: right;
    text-transform: lowercase;
    margin: 0;
    font-size: 10rem;
    color: rgb(67, 182, 67);
}

.column-align > .left-align{
    text-align: right;
    display: block;
}

.column-align > .right-align{
    justify-content: flex-end;
    align-items: end;
}

.left-align button, .right-align button, .row-align-block button{
    
    background-color: transparent;
    border: 1px solid rgb(105, 184, 105);
    color: rgb(59, 165, 59);
    border-radius: 50px;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    font-family: kaushan;
    margin-right: 20rem;
}

.left-align button::after, .right-align button::after, .row-align-block button::after{
    content: url('/portfolio/assets/pics/icons8-arrastar-para-cima\,-seta-para-a-direita-48.png');
    margin-left: 1rem;
}

.left-align button:hover, .right-align button:hover, .row-align-block button:hover{
    background-color: rgb(59, 165, 59);
    color: white;
    transition: 1s ease;
    cursor:pointer;
}

.align-text-left p, .align-text-right p{
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
    color: rgb(59, 165, 59);
    margin-top: 2rem;
}

.align-text-right{
    text-align: right;
}

.side-spaces{
    width: 1400px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
}

.divisor {
    height: 5px;
    width: 30%;
    background-color: rgb(59, 165, 59);
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: auto;
}

.row-align-block button{
    margin-top: 5rem;
}

.display-project-pic{
    height: 85vh;
    background: url('/portfolio/assets/pics//frameworks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.projects-navigation{
    height: 40vh;
    padding-top: 5rem;
    display: flex;
}

.project-display{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}