body{
    margin: 0;
    font-family: roboto;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(4, 25vh);
    color: white;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: roboto;
    src: url(/docs/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(/docs/assets/fonts/Roboto-Thin.ttf);
}

.bg-purple{
    margin: .5rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: purple;
    border-radius: 20px;
}

.bg-lilac{
    margin: .5rem;
    margin-left: 0;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: lightblue;
    border-radius: 20px;
    position: relative;
}

.bg-white{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.bg-green{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: green;
    border-radius: 20px;
    margin-left: .5rem;
}

.bg-blue{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: blue;
    border-radius: 20px;
    border: .5rem solid black;
    z-index: 1;
    position: relative;
}

.bg-orange{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: orange;
    border-radius: 20px;
    margin: .5rem 0;
}

.bg-yellow{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: yellow;
    border-radius: 20px;
    margin: .5rem 0;
    margin-left: .5rem;
    position: relative;
}

.intro-company-box{
    min-width: 10vh;
    margin-left: 2rem;
}

.logo h1{
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: normal;
    
}

.about-link{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.about-link p{
    font-size: 1.1rem;
}

#bold{
    font-weight: bold;
}

.about-link h2{
    margin: 0;
    font-size: 5rem;
}

.about-link button{
    padding: 1.5rem 2rem;
    background-color: white;
    border: 0;
    border-radius: 50px;
    margin-top: 2rem;
}

.about-link button a{
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.about-us-intro{
    display: flex;
    align-items: center;
}

.profile-pic{
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.our-story{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story h3{
    margin: 0;
    font-size: 2.5rem;
    font-weight: normal;
    width: 60%;
    text-align: center;
}

.our-story img{
    width: 150px;
    height: 80px;
}

.short-container{
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
    justify-content: center;
    width: fit-content;
}

.lightbulb-container{
    height: fit-content;
    padding: .5rem;
    border: 1px solid green;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbulb-container img{
    height: 30px;
    width: 30px;
}

.short-message-text{
    padding-left: 2rem;
    width: 60%;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.short-message-text p{
    font-weight: 100;
    margin: 0;
    font-family: roboto-thin;
    font-size: 1rem;
} 

.about-us-intro a {
    color: white;
    font-family: roboto-thin;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.about-us-intro a::after{
    content: ">";
    color: green;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 1.2rem;
}

.nav-container{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.nav-container ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-container ul li{
    list-style: none;
    margin-left: 1rem;
    padding: 1.5rem;
    color: black;
    font-size: 1.2rem;
    font-family: roboto-thin;
    font-weight: bold;
}

.nav-container button{
    background-color: white;
    border-radius: 50px;
    padding: 1rem 2.5rem;
    border: 1px solid black;
    margin-right: 1rem;
}

.nav-container button a{
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

.bg-lilac img {
    position: absolute;
    bottom: 0;
    left: 10%;
    width:30%;
    height: 90%;
}

.see-services{
    position: absolute;
    left: 40%;
}

.see-services h2{
    margin: 0;
    font-family: roboto-thin;
    font-weight: bold;
    color: black;
    font-size: 4rem;
}

#push-left{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

#push-left::before{
    display: flex;
    content: "";
    background: url('/docs/assets/pics/icons8-aperto-de-mão-48.png');
    background-size: contain;
    width: 70px;
    height: 70px;
}

#push-text-left{
    font-family: roboto-thin;
    color: black;
    font-weight: bold;
    margin: 0;
    margin-top: .3rem;
    margin-left: 9rem;
    
}

.see-services button{
    border: 0;
    padding: 1rem 2.5rem;
    background-color: yellow;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 9rem;
}

.title{
    height: 20%;
    border-bottom: 1px dotted black;
    padding-bottom: 1rem;
}

.bg-green{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title h2{
    margin: 0;
    font-size: 3rem;
    font-weight: normal;
}

#orange{
    color: rgb(255, 123, 0);
}

.link{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5rem;
    margin-bottom: 1.5rem;
}

.link h3{
    margin: 0;
    font-weight: normal;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.link p{
    margin: 0;
    margin-top: .5rem;
    font-family: roboto-thin;
    font-weight: bold;
    position: relative;
}
.link p:after{
    content: ">";
    color: white;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    right: 20%;
    cursor: pointer;
    top: -50%;
}

.bg-white::after{
    content: ">";
    color: white;
    font-weight: bold;
    font-size: 10rem;
    right: -10%;
    position: absolute;
    height: fit-content;
}

.bg-blue img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
}

.text-container {
    position: absolute;
    right: 10%;
    top: 5%;
}

.text-container h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: normal;
}

.text-container p {
    margin: 0;
    font-family: roboto-thin;
    font-weight: bold;
    font-size: 1.5rem;
}

.text-container p::after{
    content: ">";
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    margin-left: 2.5rem;
    cursor: pointer;
}

.rows{
    height: 50%;
    width: 100%;
}

.rows h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: normal;
    width: 40%;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.rows ~.rows {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.rows button {
    margin-bottom: 2rem;
    border: 0;
    background-color: black;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
}

.rows a {
    margin-bottom: 2rem;
    color: white;
    font-family: roboto-thin;
    font-size: 2rem;
}

.rows a::after{
    content: ">";
    font-size: 3rem;
    color: white;
    margin-left: 3rem;
    cursor: pointer;
}

.bg-yellow img {
    position: absolute;
    bottom: 0%;
    height: 130%;
    left: 25%;
}

.bg-yellow h2{
    color: black;
    font-weight: bold;
    width: 30%;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.bg-yellow h2::after{
    content: ">";
    color: black;
    font-size: 2rem;
    font-weight: normal;
    display: flex;
    cursor: pointer;
}

.bg-2{
    background-color: white;
    display: block;
}

.bg-2 header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: rgba(238, 237, 237, 0.5);
}

.bg-2 .logo h1 {
    color: black;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 2rem;
    color: black;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

ul li:hover{
    background-color: black;
    color: white;
    transition: 1s ease-in-out;
}

main {
    height: 90vh;
    padding: 0 5rem;
    z-index: 1;
}

main h2{
    color: black;
    text-transform: uppercase;
    margin: 0;
    font-size: 10rem;
    width: 60%;
}

.products-display-container{
    width: 100%;
    height: 70%;
    display: flex;
    gap: 1rem;
}

.display-card{
    width: 30%;
    height: 80%;
    display: flex;
    position: relative;
    z-index: 3;
    background: url('/docs/assets/pics/edgy\ wallpaper\ dark\ wallpaper\ hd\ wallpaper\ dark\ wallpapers\ aesthetic\ black\ wallpaper\ iphone.jpg');
    background-size: cover;
    background-blend-mode: color-burn;

}

.display-card img{
    position: absolute;
    bottom: 10%;
    width: 80%;
    z-index: 0;
    left: 20%;
}

.card-01{
    background-color: pink;
}

.card-02{
    background-color: lightblue;
}

.card-03{
    background-color: green;
}

.product-classification{
    height: fit-content;
    width: 100%;
    padding-left: 2rem;
    position: absolute;
    bottom: 5%;
}

.product-classification h3{
    margin: 0;
    color: black;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-classification button{
    padding: 1rem 2rem;
    border: 0;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.display-card:hover > .product-classification button{
    background-color: yellow;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.display-card:hover > img {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.display-card .object-01{
    position: absolute;
    top: 0;
    left: -5%;
    width: 50%;
}

.display-card .object-02{
    position: absolute;
    left: 70%;
    width: 30%;
    top: 0;
}

.display-card .object-03{
    position: absolute;
    top: 0;
    width: 50%;
}

.display-card:hover > .object-01, .display-card:hover > .object-02, .display-card:hover > .object-03{
    transform: scale(0.8);
}

footer{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;align-items: center;
    background-color: black;
    justify-content: center;
}

footer h4{
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem 0;
}

footer p {
    margin: 0;
    font-weight: 300;
}

#destaque{
    color: yellow;
    cursor: pointer;
}